<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header_container">
      <nav>
        <div class="nav-container">
          <div class="logo">
            <img
              src="/imgs/logos/logo_mis_vecinos.jpeg"
              alt="Logo mis vecinos"
            />
          </div>

          <input type="checkbox" id="toggle" />

          <label for="toggle" class="hamburger">
            <svg viewBox="0 0 32 32">
              <path
                class="line line-top-bottom"
                d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
              ></path>
              <path class="line" d="M7 16 27 16"></path>
            </svg>
          </label>

          <ul class="menu">
            <li>
              <a
                href="login"
                class="button button_color_primary text_white"
                >Iniciar sesión</a
              >
            </li>
            <li>
              <a
                href="signup"
                class="button button_color_secondary text_white"
                >Registrarse</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="container_landing_page">
      <div id="container_text_landing_page">
        <h1 class="title_big">Explorá tu ciudad</h1>
        <h2 class="subtitle">Visite Paseo Colón</h2>
        <h3 class="paragraph">Uniendo a la comunidad</h3>
        <div id="div_button_landing">
          <br />
          <a href="signup" class="button button_color_primary"
            >Comenzar</a
          >
        </div>
      </div>

      <div id="img_landing">
        <img src="/imgs/banners/san_jose.jpg" alt="San jose" />
      </div>
    </div>


    <section>
      <h1 class="subtitle text_center">Bienvenido a nuestros vecinos</h1>
      <div class="div_center">
        <div class="div_container_information">
          <h4 class="paragraph text_center">
            Bienvenido a la Plataforma Ciudadana de Paseo Colón, tu espacio digital centralizado diseñado para fortalecer la comunidad. Aquí puedes reportar quejas sobre servicios o infraestructura local, publicar y descubrir emprendimientos de la zona para apoyar la economía local, consultar horarios y rutas del transporte público para una mejor movilidad, explorar anuncios clasificados de la comunidad y mantenerte informado sobre la vibrante agenda de eventos y actividades que suceden en la zona. Somos el puente que conecta a los ciudadanos y facilita la comunicación para construir juntos un San José más eficiente y unido.
          </h4>
        </div>
      </div>
      <br />
      <br/>
      <br/>
    </section>

    <h1 class="text_center">Servicios</h1>

    <div class="container_cards">
      <div class="card">
        <img src="/imgs/img_cards/dislike.jpeg" alt="Imagen de Evento" />
        <div class="card-content">
          <h3>Quejas</h3>
          <p>Aquí puedes reportar quejas sobre servicios o infraestructura local</p>
        </div>
      </div>

      <div class="card">
        <img src="/imgs/img_cards/adverteisment.png" alt="Imagen de Evento" />
        <div class="card-content">
          <h3>Anuncios</h3>
          <p><strong>Fecha:</strong> 1 de agosto</p>
          <p><strong>Lugar:</strong> Ciudad Colón</p>
        </div>
      </div>

      <div class="card">
        <img src="/imgs/img_cards/event.jpg" alt="Imagen de Evento" />
        <div class="card-content">
          <h3>Eventos</h3>
          <p><strong>Fecha:</strong> 7 de agosto</p>
          <p><strong>Lugar:</strong> Ciudad Colón</p>
        </div>
      </div>


      <div class="card">
        <img src="/imgs/img_cards/emprendimient_comida.jpeg" alt="Imagen de Evento" />
        <div class="card-content">
          <h3>Emprendimientos</h3>
          <p><strong>Fecha:</strong> 7 de agosto</p>
          <p><strong>Lugar:</strong> Ciudad Colón</p>
        </div>
      </div>


      <div class="card">
        <img src="/imgs/img_cards/bus.jpg" alt="Imagen de Evento" />
        <div class="card-content">
          <h3>Transporte</h3>
          <p><strong>Fecha:</strong> 7 de agosto</p>
          <p><strong>Lugar:</strong> Ciudad Colón</p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer_row">
          <div class="footer_links">
            <h4>Mis vecinos</h4>
            <ul>
              <li><a href="#">Code Crafters team</a></li>
              <li><a href="#">codecrafters.com</a></li>
              <li><a href="#"> #code-crafters</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Compañía</h4>
            <ul>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Como trabajar con nosotros?</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Contactanos</h4>
            <ul>
              <li><a href="#"> (506) 60324248 </a></li>
              <li><a href="#">info@codecrafters.com </a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Siguenos en redes sociales</h4>
            <div class="social_links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
