<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/forms.css" />
   <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>

<body>
  <div class="form_center_div">
    <form class="form" id="form">
      <p class="title">Registrarse</p>
      <p class="message">Bienvenido a nuestros vecinos.</p>
      <div class="div_sub_container_form">
        <label>
          <input required="" placeholder="" type="text" class="input" id="name" name="name" />
          <span>Nombre</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" id="last_name" />
          <span>Apellido</span>
        </label>
      </div>

      <label>
        <input required="" placeholder="" type="email" class="input" id="email" />
        <span>Correo</span>
      </label>

      <label>
        <input required="" placeholder="" type="password" class="input" id="password"/>
        <span>Contraseña</span>
      </label>
      <label>
        <input required="" placeholder="" type="password" class="input" id="password_check"/>
        <span>Confirma tu contraseña</span>
      </label>
      <button class="button button_color_primary" type="submit">Crear cuenta</button>
      <p class="signin">Ya cuentas con una cuenta ? <a href="login">Iniciar sesion</a></p>
    </form>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="footer_row">
        <div class="footer_links">
          <h4>Mis vecinos</h4>
          <ul>
            <li><a href="#">Code Crafters team</a></li>
            <li><a href="#">codecrafters.com</a></li>
            <li><a href="#"> #code-crafters</a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Compañía</h4>
          <ul>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Carrera</a></li>
            <li><a href="#">Documentacion</a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Contactos</h4>
          <ul>
            <li><a href="#"> (506) 60324248 </a></li>
            <li><a href="#">info@codecrafters.com </a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Siguenos en redes sociales</h4>
          <div class="social_links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

<script type="module" src="/js/signupSchema.js"></script>

</html>