<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/forms.css" />
     <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="form_center_div">
      <form class="form" id="form">
        <div class="div_sub_container_form">
          <a href="advertisement" class="button_back">
            <div class="button_back_box">
              <span class="button_elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                  ></path>
                </svg>
              </span>
              <span class="button-elem">
                <svg viewBox="0 0 46 40">
                  <path
                    d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                  ></path>
                </svg>
              </span>
            </div>
          </a>
          <p class="title">Crear anuncio</p>
        </div>

        <label>
          <input
            required=""
            placeholder=""
            type="text"
            class="input"
            id="title"
          />
          <span>Titulo</span>
        </label>

        <label>
          <input
            required=""
            placeholder=""
            type="text"
            class="input"
            id="description"
          />
          <span>Descripción</span>
        </label>

        <label>
          <input
            required=""
            placeholder=""
            type="text"
            class="input"
            id="address"
          />
          <span>Ubicación</span>
        </label>

        <select id="myDropdown" class="custom-select">
          <option value="" disabled selected>Selecciona un organizador</option>
          <option value="opcion1">Opción Uno</option>
          <option value="opcion2">Opción Dos</option>
          <option value="opcion3">Opción Tres</option>
          <option value="opcion4">Opción Cuatro</option>
          <option value="opcion5">Opción Cinco</option>
        </select>

        <button class="button button_color_primary">Crear anuncio</button>
      </form>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer_row">
          <div class="footer_links">
            <h4>Mis vecinos</h4>
            <ul>
              <li><a href="#">Code Crafters team</a></li>
              <li><a href="#">codecrafters.com</a></li>
              <li><a href="#"> #code-crafters</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">How It Works</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Get In Touch</h4>
            <ul>
              <li><a href="#"> (506) 60324248 </a></li>
              <li><a href="#">info@codecrafters.com </a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Siguenos en redes sociales</h4>
            <div class="social_links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="/js/advertisementSchema.js"></script>
</html>
