<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quejas</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/cardsButtons.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <img
            src="/imgs/logos/logo_mis_vecinos.jpeg"
            alt="Logo mis vecinos"
          />
        </div>

        <input type="checkbox" id="toggle" />

        <label for="toggle" class="hamburger">
          <svg viewBox="0 0 32 32">
            <path
              class="line line-top-bottom"
              d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
            ></path>
            <path class="line" d="M7 16 27 16"></path>
          </svg>
        </label>

        <ul class="menu">
          <li><a href="advertisement">Anuncios</a></li>
          <li><a href="event">Eventos</a></li>
          <li><a href="complaint">Quejas</a></li>
          <li><a href="transport">Transporte</a></li>
          <li><a href="entrepreneur">Emprendimientos</a></li>
          <li><a href="profile">Mi perfil</a></li>
        </ul>
      </div>
    </nav>

    <div class="setup_creation_container">
      <h1>Quejas</h1>
      <div class="creation_div"></div>
    </div>

    <div class="container_cards">
      <div class="card">
        <div class="card-content">
          <h3>Seguridad</h3>
          <p><strong>Fecha:</strong> 20 de agosto</p>
          <p><strong>Lugar:</strong> Estadio Nacional</p>
          <p>
            <strong>Descripcion:</strong> Incidente de vandalismo en área común.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h3>Medio Ambiente</h3>
          <p><strong>Fecha</strong> 1 de agosto</p>
          <p><strong>Lugar:</strong>Ciudad Colón</p>
          <p>
            <strong>Descripcion:</strong> Monitoreo de uso de agua en el sector.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h3>Familiares Sin Humo</h3>
          <p><strong>Fecha</strong> 7 de agosto</p>
          <p><strong>Lugar:</strong>Ciudad Colón</p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer_row">
          <div class="footer_links">
            <h4>Mis vecinos</h4>
            <ul>
              <li><a href="#">Code Crafters team</a></li>
              <li><a href="#">codecrafters.com</a></li>
              <li><a href="#"> #code-crafters</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Compañía</h4>
            <ul>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Como trabajar con nosotros?</a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Contactanos</h4>
            <ul>
              <li><a href="#"> (506) 60324248 </a></li>
              <li><a href="#">info@codecrafters.com </a></li>
            </ul>
          </div>
          <div class="footer_links">
            <h4>Siguenos en redes sociales</h4>
            <div class="social_links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="/js/createComplaintSetup.js"></script>
  <script type="module" src="/js/navAdmin.js"></script>
  <script type="module" src="/js/changeCardsAdmin.js"></script>
</html>
